.search {
  right: 2px;
  padding: 1px  1px;
}


  

/* Basic styles for the button and search bar */
    #s {
      width: 200px;
      padding: 8px;
      border: 2px solid #9932CC;
      border-radius: 20px;
      outline: none;
      font-size: 16px;
      transition: width 0.3s ease;
      
    }
    
    /* Customize the placeholder text */
    #s::placeholder {
      color: #888;
      font-style: italic;
    }

    /* Style the button */
    #searchBT {
      color: white;
      border: none;
      /*cursor: pointer;*/
      padding: 8px 10px;
      
    }

    /* Focus effect on the search bar */
    #s:focus {
      width: 260px; /* Expand width when focused */
      border-color: navajowhite;
    }