.headNav {
  font-family: 'signika' , sans-serif;
  margin-left: 1.5em;
  background-color: transparent; 
  border-color: transparent;
  font-size: 1.5em;
  flex-shrink: 0;
  text-decoration: none;
  padding: 20% 20;
  
}
.dark-mode .headNav {
  color: white;
}
 a{
  text-decoration: none;
}
.headBox {
  white-space: nowrap;
  position: fixed;
  top: 11%;
}

#hc {
  overflow-x: auto; /* Enable horizontal scrolling */
  overflow-y: hidden; /* Hide vertical scrolling if not needed */
  width: 100%; /* Full container width */
  white-space: nowrap; /* Prevent wrapping of child elements */
  scroll-snap-type: x mandatory; /* Enable snap scrolling */
  display: inline-block; /* Keep children in one line */
  position: fixed;
  top: 18%;
  background-color: transparent;
}

.hc1b {
  scroll-snap-align: start; /* Snap to the start of each child */
  scroll-behavior: smooth; /* Smooth scrolling */
  display: inline-block; /* Horizontal layout */
  width: 100%; /* Each block takes full width of the container */
  box-sizing: border-box; /* Include padding and border in width */
  text-align: justify;
}

.H {
  font-weight: 800;
  font-family: 'signika' , sans-serif;
  font-size: 1.8em;
  color: palevioletred;
  
}
#date1 {
  font-size: 2rem;
}

.H b {
  color: #000;
  font-size: 0.62em;
}

.subH b {
  color: palevioletred;
  font-size: 1.8rem;
}
.dark-mode .H b, .dark-mode .subH {
  color: white;
}
#fieldBox {
  width: 90%;
}

