 /* Switch container */
    .switch {
      position: relative;
      display: inline-block;
      width: 52px;
      height: 28px;
    }
.dark-theme #batT {
  color: chartreuse;
  font-weight: 800;
  background-color: rgba(000, 885, 000, 0.4); /* Medium purple with 50% opacity */

}


    /* Hide the default checkbox */
    .switch input {
      opacity: 0;
      width: 0;
      height: 0;
    }

    /* The slider (switch knob) */
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      border-radius: 34px;
      transition: 0.4s;
    }

    /* The knob itself */
    .slider:before {
      position: absolute;
      content: "";
      height: 22px;
      width: 22px;
      left: 4px;
      bottom: 3px;
      background-color: white;
      border-radius: 50%;
      transition: transform 0.3s, background-color 0.3s;
      box-shadow: 0px 0px 11px 0px rgba(0,0,0,1);

    }

    /* Checked state styles */
    input:checked + .slider {
      background-color: rgba(000, 2, 000, 0.4); /* Medium purple with 50% opacity */
    }
.dark-theme input:checked + .slider {
      background-color: rgba(000, 225, 000, 1); /* Medium purple with 50% opacity */
    }

    input:checked + .slider:before {
      transform: translateX(23px); /* Move the knob to the right */
      background-color: palevioletred;
    }
.dark-theme input:checked + .slider:before {
      transform: translateX(26px); /* Move the knob to the right */
      background-color: darkgreen;
    }
#btnClose {
  background-color: palevioletred;
}



.dark-mode.body {
  background-color: #333;

}


/* Default light mode*/

:root {
    --background-color: whitesmoke;
    --text-color: #000;
    
   }


body {
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 1s ease, color 1s ease;
}

/*#kh {
    color: black;
}*/

/*#hc {
  background-color: red;
  color: #333333;
}*/

#dc {
    background-color: antiquewhite;
}



#wkay {
  background-color: transparent;
  color: black;
}
#wken {
  background-color: transparent;
  color: black;
}
#event {
  background-color: transparent;
  color: black;
}

#wkay:hover, #wken:hover, #event:hover {
    background-color: grey;
}
.dark-mode #wkay:hover, .dark-mode #wken:hover, .dark-mode #event:hover {
    background-color: lightgray;
}









.dark-mode .modal-content {
  background-color: #666;
}
.dark-mode .mText {
  color: #fff;
}



/* Dark Mode Styles */
.dark-mode {
    --background-color: #333;
    --text-color: #fff;
}

.dark-mode #kh, .dark-mode .iconName {
    color: white;
}


body.dark-mode #hc {
  background-color: #333;
  color: white;
}
.dark-mode #scr {
    color: magenta;
}

.dark-mode #dc {
    background-color: sienna;
    
}

.dark-mode #wkay
{
  background-color: gray;
  color: white;
}
.dark-mode #wken {
  background-color: gray;
  color: white;
}
.dark-mode #event {
  background-color: gray;
  color: white;
}

 .dark-mode .bottom-cont {
     background-color: gray;
 }
.dark-mode #name, .dark-mode #date {
    color: lightgrey;
}
.dark-mode #box, .dark-mode #box3, .dark-mode .box2Cont {
    background-color:#444; 
}
.dark-mode b, .dark-mode .txt1 {
    color: whitesmoke;
}
.dark-mode .txt {
    color: lightgrey;
}

.dark-mode header {
  background-color: #333
}






